attrs==22.1.0
flake8==5.0.3
flake8-html==0.4.2
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.7.0
more-itertools==8.13.0
packaging==21.3
pickle-mixin==1.0.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.0
pyflakes==2.5.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
tinydb==4.7.0
tomli==2.0.1
